<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>gps</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ルートの取得のために使用します</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ルートの取得のために使用します</string>
</dict>
</plist>
